$coral-red: #FF605B;
$brown-red: #471619;
$dark-red: #2C1215;
$dark-red-low-op: #0b0000af;
$skyblue: #4CF4F7;
$blue: #013440;
$dark-blue: #00161c;
$gold: #FCCE54;

$sea-green: #00E1B0;
$dark-green: #135142;

$disable-skyblue: #3F6566;
$disable-blue: #424868;
$disable-dark-blue: #1C121A;

