@import '@utils/cleaning';
@import '@abstracts/colors';

nav {
    display: flex;
    align-items: center;
    padding: 12px 0px 12px 0px;
    ul {
        @extend .reset-list;
        color: $coral-red;
        font-size: 1.3rem;
        text-transform: uppercase;
        li {
            display: inline-block;
            margin: 0px 25px 0px 25px;
            a {
                display: inline-block;
                color: $coral-red;
                text-decoration: none;
                transform: none;
                transition: transform 0.3s;
            }
        }
        .active {
            color: $skyblue;
            transform: scale(1.15);
            transition: transform 0.3s;
        }
    }

    img {
        width: 100px;
    }

    button {
        i {
            font-size: 1.5rem;
        }
    }
}